<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/vector-premium/ilustracion-hotel-mascotas-huespedes-animales-cerca-recepcion-recepcionista-trabajando-computadora-recepcion-proceso-registro-check-in-personas-personajes-dibujos-animados-perros_151150-1224.jpg?w=2000);">
  <div class="container">
    <h1><strong>Pet Couching</strong></h1>
    <p> For Bussy People</p>
    <a class="btn btn-primary" href="lodgings">Reserva ahora</a>

  </div>


</div>
<div class ="container-card">
<div class="card card-home" style="width: 18rem;">
  <img class="card-img-top" src="https://www.elcolombiano.com/binrepository/580x387/0c0/580d365/none/11101/SOBF/cvperros-2-jpg_38979075_20211120180633.jpg
" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Canisschool </h5>
    <p class="card-text">expectacular .</p>
    <a href="#" class="btn btn-home">Mas detalles </a>
  </div>
</div>
<div class="card card-home" style="width: 18rem;">
  <img class="card-img-top" src="https://www.leopetsguarderia.com/imagenes/perros-acostados-leo-pets-guarderia-canina-1000x600.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">RUFA</h5>
    <p class="card-text">Muy bueno</p>
    <a href="#" class="btn btn-home">Mas detalles </a>
  </div>
</div>
<div class="card card-home" style="width: 18rem;">
  <img class="card-img-top" src="https://www.bunko.pet/__export/1623188917844/sites/debate/img/2021/06/08/golden_retriever_crop1623188877925.jpeg_1962492413.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">NAWA</h5>
    <p class="card-text">Buen lugar</p>
    <a href="#" class="btn btn-home">Mas detalles </a>
  </div>
</div>

</div>
