<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cnnespanol.cnn.com/wp-content/uploads/2022/05/220506152559-dog-sleep-wellness-stock-super-tease.jpg?quality=100&strip=info);">
  <div class="container">
    <h1><strong>Pet Couching</strong></h1>
    <p> For Bussy People</p>
    <a class="btn btn-primary" href="lodgings">Reserva ahora</a>

  </div>
</div>
