.container-card {
  display: flex;
  justify-content: space-around;
}


.card-img-top {
  width: 100%;
  height: 100%;
}


.container-card .card-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}


.container-card .card-title{
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.container-card .btn-home {
  border-radius: 25px;
  background-color: #0583F2;
  text-decoration: none;
  color: white;
}

.container-card .btn-home:hover {
  border-radius: 25px;
  background-color: #82bbf0;
  color: white;
}


.btn-home{
  background-color: #0583F2;
  color: white;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-home:hover,
.btn-home:focus {
  background-color: #82bbf0;
  color: white;
}
