.form-actions .btn {
  background-color: #F2BBE3;
  color: #ffffff;
  border-radius: 20px;
  border: 0;
  padding: 10px 20px;
  margin-top: 20px;
}

.form-actions .btn:hover {
  background-color: #1905f2;
  color: #F2E1D8;
}
