<h2>lodgings</h2>

<% @lodgings.each do |lodging| %>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.guarderiacandyspets.com/wp-content/uploads/2020/01/47e548d2-d49d-4c71-b6ea-1dd26d76c5ee-1-1024x768.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= lodging.summary %></h5>
    <p class="card-text"><%= lodging.summary %> <</p>
    <a href="#" class="btn btn-primary"><%= link_to "ver", lodging_path(lodging.id) %></li>
</a>
  </div>
</div>
<% end %>


<a class="btn btn-primary" href="lodgings/new">Registrar nuevo lodging</a>
<a><%= link_to "Home", root_path %></a>
