<h2>lodgings</h2>

<ul>
  <% @lodgings.each do |lodging| %>
    <li><%= lodging.summary %> <%= link_to "ver", lodging_path(lodging.id) %>
  <% end %>
</ul>

<a><%= link_to "Home", root_path %></a>
<br>
<a><%= link_to "Crear nuevo lodging", new_lodging_path %></a>
<br>
