<h1 class="log-in">Lodgings</h1>

<div class= "container-card">
<% @lodgings.each do |lodging| %>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.guarderiacandyspets.com/wp-content/uploads/2020/01/47e548d2-d49d-4c71-b6ea-1dd26d76c5ee-1-1024x768.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= lodging.name  %></h5>
    <p class="card-text"><%= lodging.summary %> </p>
    <a> <%= link_to "ver", lodging_path(lodging.id), class: "btn-home"%> </a>
  </div>
</div>

<% end %>
</div>
<br>

<%= link_to "Crear nuevo lodging" , new_lodging_path, class: "btn-home"%>
